<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSECI Account Verification</title>
  </head>

  <body style="background-color: #ecf4f9; color: #000; font-family: Arial, sans-serif; padding-bottom: 20px;">

    <header
      style="background-color: #3498db; padding: 10px; text-align: center; color: #fff; display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 40px;">
      <img src="#" alt="logo" style="max-width: 40%; height: auto; display: block; margin: 0 auto;">
    </header>

    <main style="background: white; width: 80%; margin: auto; padding: 30px 50px; margin-top: 40px;">

      <p style="font-weight: bold; font-size: 20px;">Hello {{full_name}},</p>
      <p style="font-weight: 500; font-size: 20px; margin-top: 35px;">Congratulations and welcome to KSECI! , We are
        thrilled to have you as part of our community. Get ready to embark on an exciting journey with us.
        To complete the process, click the link below:</p>
      <p style="margin-top: 30px;">
        <a href="{{link}}"
          style="background-color: #3498db; color: #fff; padding: 10px; border-radius: 5px; text-decoration: none;">Continue</a>
      </p>
      <p style="font-weight: 500; font-size: 20px; margin-top: 35px;">
        Having any issue clicking the button?
        <br>Follow the link to complete the process:
      </p>
      <p style="margin-top: 10px;">
        <a href="{{link}}" style="color: #3498db; text-decoration: none;">{{link}}</a>
      </p>
      <p style="font-weight: 500; font-size: 20px; margin-top: 35px;">Thank you for choosing KSECI, We look forward to
        serving you.</p>

      <p style="font-weight: 500; font-size: 20px;">Thanks, The KSECI Team</p>
      <a href="https://app.garmentflex.com"
        style="color: #3498db; text-decoration: none;">https://knowledgest.netlify</a>
    </main>

    <footer
      style="background-color: #3498db; padding: 10px; text-align: center; color: #fff; display: flex; justify-content: center; align-items: center; margin-top: 40px;">
      Copyright &copy; 2024 KSECI. All right reserved
    </footer>
  </body>

</html>
