asgiref==3.6.0
black==22.8.0
Django==4.1.7
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==20.1.0
psycopg2==2.8.6
psycopg2-binary==2.9.5
dj-database-url==1.2.0
python-decouple==3.8
django-cors-headers==3.14.0
whitenoise==6.4.0
django-filter==22.1
pytest==7.2.2
pytest-django==4.5.2
factory-boy==3.3.0
mock==4.0.3
Faker==17.6.0
django-cloudinary-storage==0.3.0
cloudinary==1.37.0
Pillow==9.0.1
drf-spectacular==0.27.0
channels==4.0.0
channels-redis==4.0.0
django-channels==0.7.0
daphne==4.1.0
redis==4.5.1
