asgiref
black
click
colorama
Django
djangorestframework
djangorestframework-simplejwt
mypy-extensions
pathspec
platformdirs
PyJWT
pytz
sqlparse
tomli
tzdata
gunicorn
psycopg2
psycopg2-binary
dj-database-url
python-decouple
django-cors-headers
drf-spectacular
django-debug-toolbar
whitenoise
django-filter
